# Common Usage

## Connect to DB

In [1]:
%load_ext sql

In [2]:
%sql mysql+mysqlconnector://root:root@localhost:3306

## Database Management

In [5]:
%%sql
SHOW databases;

* mysql+mysqlconnector://root:***@localhost:3306
6 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [6]:
%%sql
SELECT * from mysql.user;

* mysql+mysqlconnector://root:***@localhost:3306
6 rows affected.

[('%', 'admin', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', '', '', '', 0, 0, 0, 0, 'caching_sha2_password', '$A$005$0s\x1a\x12%|\x0f<&t./k:}p P{tpIir.lyQtoJbD1IqQv1wz3joWKjUWZmmz2e8Prn7fW.', 'N', datetime.datetime(2020, 5, 27, 14, 41, 35), None, 'N', 'N', 'N', None, None, None, None),
 ('localhost', 'mysql.infoschema', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', '', '', '', 0, 0, 0, 0, 'caching_sha2_password', '$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2020, 5, 27, 14, 41, 32), None, 'Y', 'N', 'N', None, None, None, None),
 ('localhost', 'mysql.session', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', '', '', '', 0, 0, 0, 0, 'caching_sha2_password', '$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2020, 5, 27, 14, 41, 32), None, 'Y', 'N', 'N', None, None, None, None),
 ('localhost', 'mysql.sys', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', '', '', '', 0, 0, 0, 0, 'caching_sha2_password', '$A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED', 'N', datetime.datetime(2020, 5, 27, 14, 41, 32), None, 'Y', 'N', 'N', None, None, None, None),
 ('localhost', 'root', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', '', '', '', 0, 0, 0, 0, 'caching_sha2_password', '$A$005$5EQPBjv|}zQ3X\x0e\x02\nV{ciITiWzr5sNajlp8MOUWtzZp7Kpk0H0HYxbfUTtjrD15C', 'N', datetime.datetime(2020, 5, 27, 14, 41, 35), None, 'N', 'Y', 'Y', None, None, None, None),
 ('localhost', 'user', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', '', '', '', 0, 0, 0, 0, 'caching_sha2_password', '$A$005$Y\x19R_6%\x08By\npV+8\x03t<04kJ62nrI5BXhSWdoj9Yg6j2jxkWqmy2xq43o3PkKoiug1', 'N', datetime.datetime(2020, 8, 25, 0, 32, 28), None, 'N', 'N', 'N', None, None, None, None)]

In [7]:
# create database/schema
%%sql
CREATE SCHEMA testSchema;
CREATE DATABASE if not exists testDB;
SHOW databases;

* mysql+mysqlconnector://root:***@localhost:3306
1 rows affected.
1 rows affected.
8 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('testdb',),
 ('testschema',),
 ('world',)]

In [8]:
# drop database/schema
%%sql
DROP SCHEMA IF EXISTS testschema;
DROP DATABASE IF EXISTS test;
SHOW databases;

* mysql+mysqlconnector://root:***@localhost:3306
0 rows affected.
0 rows affected.
7 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('testdb',),
 ('world',)]

In [13]:
# create privileged user
%sql CREATE USER 'admin'@'localhost' IDENTIFIED BY 'admin';
%sql GRANT ALL PRIVILEGES ON *.* TO 'admin'@'localhost';
%sql FLUSH PRIVILEGES;
%sql SHOW GRANTS FOR admin@localhost;

* mysql+mysqlconnector://root:***@localhost:3306
0 rows affected.
 * mysql+mysqlconnector://root:***@localhost:3306
0 rows affected.
 * mysql+mysqlconnector://root:***@localhost:3306
0 rows affected.
 * mysql+mysqlconnector://root:***@localhost:3306
2 rows affected.

[('GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, SHUTDOWN, PROCESS, FILE, REFERENCES, INDEX, ALTER, SHOW DATABASES, SUPER, CREATE TEMPORAR ... (77 characters truncated) ...  VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, CREATE USER, EVENT, TRIGGER, CREATE TABLESPACE, CREATE ROLE, DROP ROLE ON *.* TO `admin`@`localhost`',),
 ('GRANT APPLICATION_PASSWORD_ADMIN,AUDIT_ADMIN,BACKUP_ADMIN,BINLOG_ADMIN,BINLOG_ENCRYPTION_ADMIN,CLONE_ADMIN,CONNECTION_ADMIN,ENCRYPTION_KEY_ADMIN,GROU ... (196 characters truncated) ... ION_VARIABLES_ADMIN,SET_USER_ID,SHOW_ROUTINE,SYSTEM_USER,SYSTEM_VARIABLES_ADMIN,TABLE_ENCRYPTION_ADMIN,XA_RECOVER_ADMIN ON *.* TO `admin`@`localhost`',)]

In [16]:
# remove all privileges
%sql REVOKE ALL PRIVILEGES, GRANT OPTION FROM user@localhost;

* mysql+mysqlconnector://root:***@localhost:3306
0 rows affected.

[]

In [17]:
%sql SHOW GRANTS FOR admin@localhost;

* mysql+mysqlconnector://root:***@localhost:3306
2 rows affected.

[('GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, SHUTDOWN, PROCESS, FILE, REFERENCES, INDEX, ALTER, SHOW DATABASES, SUPER, CREATE TEMPORAR ... (77 characters truncated) ...  VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, CREATE USER, EVENT, TRIGGER, CREATE TABLESPACE, CREATE ROLE, DROP ROLE ON *.* TO `admin`@`localhost`',),
 ('GRANT APPLICATION_PASSWORD_ADMIN,AUDIT_ADMIN,BACKUP_ADMIN,BINLOG_ADMIN,BINLOG_ENCRYPTION_ADMIN,CLONE_ADMIN,CONNECTION_ADMIN,ENCRYPTION_KEY_ADMIN,GROU ... (196 characters truncated) ... ION_VARIABLES_ADMIN,SET_USER_ID,SHOW_ROUTINE,SYSTEM_USER,SYSTEM_VARIABLES_ADMIN,TABLE_ENCRYPTION_ADMIN,XA_RECOVER_ADMIN ON *.* TO `admin`@`localhost`',)]

In [18]:
# Drop User
%%sql
DROP USER 'admin'@'localhost';

* mysql+mysqlconnector://root:***@localhost:3306
0 rows affected.

[]

In [20]:
# Grant Specific Privileges
%sql CREATE USER 'user'@'localhost' IDENTIFIED BY 'password';
%sql SHOW GRANTS FOR user@localhost;
%sql GRANT ALL ON world.* TO 'user'@'localhost';
%sql
 SHOW GRANTS FOR user@localhost;

* mysql+mysqlconnector://root:***@localhost:3306
0 rows affected.
 * mysql+mysqlconnector://root:***@localhost:3306
1 rows affected.
 * mysql+mysqlconnector://root:***@localhost:3306
0 rows affected.
 * mysql+mysqlconnector://root:***@localhost:3306
2 rows affected.

[('GRANT USAGE ON *.* TO `user`@`localhost`',),
 ('GRANT ALL PRIVILEGES ON `world`.* TO `user`@`localhost`',)]

In [21]:
%sql DROP USER 'user'@'localhost';

* mysql+mysqlconnector://root:***@localhost:3306
0 rows affected.

[]

## Tables

In [22]:
%%sql
USE world;

* mysql+mysqlconnector://root:***@localhost:3306
0 rows affected.

[]

In [23]:
# list tables in the chosen database
%%sql
SHOW TABLES;

* mysql+mysqlconnector://root:***@localhost:3306
5 rows affected.

[('city',), ('country',), ('countrylanguage',), ('person',), ('student',)]

In [25]:
# View Store Engine
%sql SHOW TABLE STATUS LIKE 'city';

* mysql+mysqlconnector://root:***@localhost:3306
1 rows affected.

[('city', 'InnoDB', 10, 'Dynamic', 4188, 97, 409600, 0, 131072, 0, 4080, datetime.datetime(2020, 5, 27, 14, 42, 6), None, None, 'latin1_swedish_ci', None, '', '')]

In [26]:
%%sql
SHOW ENGINES;

* mysql+mysqlconnector://root:***@localhost:3306
9 rows affected.

[('MEMORY', 'YES', 'Hash based, stored in memory, useful for temporary tables', 'NO', 'NO', 'NO'),
 ('MRG_MYISAM', 'YES', 'Collection of identical MyISAM tables', 'NO', 'NO', 'NO'),
 ('CSV', 'YES', 'CSV storage engine', 'NO', 'NO', 'NO'),
 ('FEDERATED', 'NO', 'Federated MySQL storage engine', None, None, None),
 ('PERFORMANCE_SCHEMA', 'YES', 'Performance Schema', 'NO', 'NO', 'NO'),
 ('MyISAM', 'YES', 'MyISAM storage engine', 'NO', 'NO', 'NO'),
 ('InnoDB', 'DEFAULT', 'Supports transactions, row-level locking, and foreign keys', 'YES', 'YES', 'YES'),
 ('BLACKHOLE', 'YES', '/dev/null storage engine (anything you write to it disappears)', 'NO', 'NO', 'NO'),
 ('ARCHIVE', 'YES', 'Archive storage engine', 'NO', 'NO', 'NO')]

In [27]:
## Fail to change to another engine because there is foreigh key which InnoDB does but the new one doesn't.
%%sql
ALTER TABLE city ENGINE = 'myisam';

* mysql+mysqlconnector://root:***@localhost:3306

DatabaseError: (mysql.connector.errors.DatabaseError) 3776 (HY000): Cannot change table's storage engine because the table participates in a foreign key constraint.
[SQL: ALTER TABLE city ENGINE = 'myisam';]
(Background on this error at: http://sqlalche.me/e/4xp6)

In [29]:
%%sql
DESC city;

* mysql+mysqlconnector://root:***@localhost:3306
5 rows affected.

[('ID', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('Name', 'char(35)', 'NO', '', '', ''),
 ('CountryCode', 'char(3)', 'NO', 'MUL', '', ''),
 ('District', 'char(20)', 'NO', '', '', ''),
 ('Population', 'int', 'NO', '', '0', '')]

In [30]:
%%sql
DESCRIBE country;

* mysql+mysqlconnector://root:***@localhost:3306
15 rows affected.

[('Code', 'char(3)', 'NO', 'PRI', '', ''),
 ('Name', 'char(52)', 'NO', '', '', ''),
 ('Continent', "enum('Asia','Europe','North America','Africa','Oceania','Antarctica','South America')", 'NO', '', 'Asia', ''),
 ('Region', 'char(26)', 'NO', '', '', ''),
 ('SurfaceArea', 'float(10,2)', 'NO', '', '0.00', ''),
 ('IndepYear', 'smallint', 'YES', '', None, ''),
 ('Population', 'int', 'NO', '', '0', ''),
 ('LifeExpectancy', 'float(3,1)', 'YES', '', None, ''),
 ('GNP', 'float(10,2)', 'YES', '', None, ''),
 ('GNPOld', 'float(10,2)', 'YES', '', None, ''),
 ('LocalName', 'char(45)', 'NO', '', '', ''),
 ('GovernmentForm', 'char(45)', 'NO', '', '', ''),
 ('HeadOfState', 'char(60)', 'YES', '', None, ''),
 ('Capital', 'int', 'YES', '', None, ''),
 ('Code2', 'char(2)', 'NO', '', '', '')]

In [31]:
%%sql
DESCRIBE countrylanguage;

* mysql+mysqlconnector://root:***@localhost:3306
4 rows affected.

[('CountryCode', 'char(3)', 'NO', 'PRI', '', ''),
 ('Language', 'char(30)', 'NO', 'PRI', '', ''),
 ('IsOfficial', "enum('T','F')", 'NO', '', 'F', ''),
 ('Percentage', 'float(4,1)', 'NO', '', '0.0', '')]

In [32]:
%%sql
SHOW CREATE TABLE city;

* mysql+mysqlconnector://root:***@localhost:3306
1 rows affected.

[('city', "CREATE TABLE `city` (\n  `ID` int NOT NULL AUTO_INCREMENT,\n  `Name` char(35) NOT NULL DEFAULT '',\n  `CountryCode` char(3) NOT NULL DEFAULT '',\n  ` ... (139 characters truncated) ... `),\n  CONSTRAINT `city_ibfk_1` FOREIGN KEY (`CountryCode`) REFERENCES `country` (`Code`)\n) ENGINE=InnoDB AUTO_INCREMENT=4083 DEFAULT CHARSET=latin1")]

## CRUD

### Select

In [33]:
%%sql
SELECT * FROM city LIMIT 5;

* mysql+mysqlconnector://root:***@localhost:3306
5 rows affected.
5 rows affected.
5 rows affected.

[('ABW', 'Dutch', 'T', 5.3),
 ('ABW', 'English', 'F', 9.5),
 ('ABW', 'Papiamento', 'F', 76.7),
 ('ABW', 'Spanish', 'F', 7.4),
 ('AFG', 'Balochi', 'F', 0.9)]

In [34]:
%%sql
SELECT * FROM country LIMIT 5;

* mysql+mysqlconnector://root:***@localhost:3306
5 rows affected.

[('ABW', 'Aruba', 'North America', 'Caribbean', 193.0, None, 103000, 78.4, 828.0, 793.0, 'Aruba', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 129, 'AW'),
 ('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 22720000, 45.9, 5976.0, None, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Mohammad Omar', 1, 'AF'),
 ('AGO', 'Angola', 'Africa', 'Central Africa', 1246700.0, 1975, 12878000, 38.3, 6648.0, 7984.0, 'Angola', 'Republic', 'Jos Eduardo dos Santos', 56, 'AO'),
 ('AIA', 'Anguilla', 'North America', 'Caribbean', 96.0, None, 8000, 76.1, 63.2, None, 'Anguilla', 'Dependent Territory of the UK', 'Elisabeth II', 62, 'AI'),
 ('ALB', 'Albania', 'Europe', 'Southern Europe', 28748.0, 1912, 3401200, 71.6, 3205.0, 2500.0, 'Shqipria', 'Republic', 'Rexhep Mejdani', 34, 'AL')]

In [35]:
%%sql
SELECT * FROM countrylanguage LIMIT 5;

* mysql+mysqlconnector://root:***@localhost:3306
5 rows affected.

[('ABW', 'Dutch', 'T', 5.3),
 ('ABW', 'English', 'F', 9.5),
 ('ABW', 'Papiamento', 'F', 76.7),
 ('ABW', 'Spanish', 'F', 7.4),
 ('AFG', 'Balochi', 'F', 0.9)]

#### Country who has the largest percentage of population speaking english

In [86]:
%%sql
SELECT c.name FROM country AS c INNER JOIN
(SELECT CountryCode
      FROM countrylanguage
      WHERE Percentage = (SELECT max(Percentage) AS Percentage FROM countrylanguage WHERE Language = 'English')
        AND language = 'English') as cl ON c.Code=cl.CountryCode;

* mysql+mysqlconnector://root:***@localhost:3306
1 rows affected.

[('Bermuda',)]

#### Percentage of chinese speaking population in the world population

In [45]:
%%sql
SELECT concat(round((SELECT sum(population.population)
                     FROM (SELECT pbp.population * pbp.percentage / 100 AS population
                           FROM (SELECT c.population, cl.percentage
                                 FROM country AS c
                                          INNER JOIN (SELECT * FROM countrylanguage WHERE language = 'chinese') AS cl
                                                     ON c.code = cl.countrycode) AS pbp) AS population) /
                    (SELECT sum(population) FROM country) * 100, 2), '%') AS ratio;

* mysql+mysqlconnector://root:***@localhost:3306
1 rows affected.

[('19.61%',)]

### Create

In [91]:
%%sql
INSERT INTO city (name, countrycode, district, population)
VALUES ('shenzhen', 'chn', 'unknown', 10000000);

SELECT * FROM city
ORDER BY id DESC LIMIT 1;

* mysql+mysqlconnector://root:***@localhost:3306
1 rows affected.
1 rows affected.

[(4084, 'shenzhen', 'chn', 'unknown', 10000000)]

#### Create Table

In [100]:
%%sql
CREATE TABLE person
(
    id                int NOT NULL AUTO_INCREMENT,
    firstname         varchar(30),
    lastname          varchar(30),
    home_country_code char(3),
    CONSTRAINT pk_id PRIMARY KEY (id)
) ENGINE = innodb;

* mysql+mysqlconnector://root:***@localhost:3306
0 rows affected.

[]

In [101]:
%%sql
CREATE TABLE student
(
    id       int NOT NULL AUTO_INCREMENT,
    personid int NOT NULL,
    CONSTRAINT pk_id PRIMARY KEY (id),
    CONSTRAINT fk_person FOREIGN KEY (personid) REFERENCES person (id)
        ON UPDATE CASCADE
        ON DELETE CASCADE
) ENGINE = innodb;

* mysql+mysqlconnector://root:***@localhost:3306
0 rows affected.

[]

In [102]:
%%sql
DESC student;

* mysql+mysqlconnector://root:***@localhost:3306
2 rows affected.

[('id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('personid', 'int', 'NO', 'MUL', None, '')]

In [103]:
%%sql
ALTER TABLE student
    ADD COLUMN school varchar(50),
    ADD COLUMN grade  int UNSIGNED,
    ADD COLUMN class  int UNSIGNED;

DESC student;

* mysql+mysqlconnector://root:***@localhost:3306
0 rows affected.
5 rows affected.

[('id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('personid', 'int', 'NO', 'MUL', None, ''),
 ('school', 'varchar(50)', 'YES', '', None, ''),
 ('grade', 'int unsigned', 'YES', '', None, ''),
 ('class', 'int unsigned', 'YES', '', None, '')]

Next: Should fail because of foreign key constraint, the personID DNE in person table

In [104]:
%%sql
INSERT INTO student (personid, school) VALUES (10, 'bcs');

* mysql+mysqlconnector://root:***@localhost:3306

IntegrityError: (mysql.connector.errors.IntegrityError) 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`world`.`student`, CONSTRAINT `fk_person` FOREIGN KEY (`personid`) REFERENCES `person` (`id`) ON DELETE CASCADE ON UPDATE CASCADE)
[SQL: INSERT INTO student (personid, school) VALUES (10, 'bcs');]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [105]:
%%sql
INSERT INTO person (firstname, lastname)
VALUES ('first', 'last');
INSERT INTO person (id, firstname, lastname)
VALUES (100, 'one', 'two');

* mysql+mysqlconnector://root:***@localhost:3306
1 rows affected.
1 rows affected.

[]

In [106]:
%%sql
SELECT * FROM person;

* mysql+mysqlconnector://root:***@localhost:3306
2 rows affected.

[(1, 'first', 'last', None), (100, 'one', 'two', None)]

In [107]:
%%sql
INSERT INTO student (personid, school)
VALUES ((SELECT id FROM person LIMIT 1), 'bcs');

INSERT INTO student (personid, school)
VALUES (100, 'uoft');

SELECT * FROM student;

* mysql+mysqlconnector://root:***@localhost:3306
1 rows affected.
1 rows affected.
2 rows affected.

[(2, 1, 'bcs', None, None), (3, 100, 'uoft', None, None)]

### Update

In [108]:
%%sql
UPDATE person
SET id=99,
    firstname='three',
    lastname='four'
WHERE id = 100;

SELECT * FROM person;

* mysql+mysqlconnector://root:***@localhost:3306
1 rows affected.
2 rows affected.

[(1, 'first', 'last', None), (99, 'three', 'four', None)]

Cascading update student's personID

In [109]:
%%sql
SELECT * FROM student;

* mysql+mysqlconnector://root:***@localhost:3306
2 rows affected.

[(2, 1, 'bcs', None, None), (3, 99, 'uoft', None, None)]

Cascading delete student with person id=99

In [110]:
%%sql
DELETE FROM person WHERE id = 99;
SELECT * FROM student;

* mysql+mysqlconnector://root:***@localhost:3306
1 rows affected.
1 rows affected.

[(2, 1, 'bcs', None, None)]

### Delete (Clean Up)

In [111]:
%%sql
DELETE FROM person;
DELETE FROM student;
DROP TABLE IF EXISTS student;
DROP TABLE IF EXISTS person;
DELETE FROM city WHERE Name='shenzhen';

* mysql+mysqlconnector://root:***@localhost:3306
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.

[]

In [112]:
%%sql
SHOW TABLES;

* mysql+mysqlconnector://root:***@localhost:3306
3 rows affected.

[('city',), ('country',), ('countrylanguage',)]